* {
    outline: 1px solid red;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    // font-family: ;
    // font-size: ;
    // font-weight: ;
    // color: ;
    // line-height: ;
}

a,
a:visited,
a:hover {
    text-decoration: none;
}

img {
    width: 100%;
}

// ! btn btn-primary

// =======================================
// Flexbox
// =======================================
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

// .body {

//     &__site-overlay {
//         position: fixed;
//         top: 0;
//         left: 0;
//         width: 100vw;
//         height: 100vh;
//         background-color: red;
//         opacity: 0.5;
//     }

//     &__model {
//         position: fixed;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%, -50%);

//         border: 2px solid white;
//         border-radius: 15px;

//         padding: 2.5rem;

//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//     }
// }