// =======================================
// Navbar
// =======================================

.header {
    // background-color: teal;

    &__navigation {
        height: 72px;
        background-color: red;
    }

    &__nav-link > img {
        width: 100%;
        max-height: 40px;

    }
}